body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    background-color: rgb(31, 31, 31);
    font-family: "Exo 2";
}

h1 {
    font-size: 40px;
    margin-bottom: 50px;
    font-style: italic;
    color: rgb(231, 231, 231);
}

h1 span {
    color: rgb(255, 57, 57);
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 350px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(50, 50, 50);
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

#display {
    padding: 20px;
    margin-bottom: 6px;
    font-size: 30px;
    border: none;
    border-radius: 15px;
    text-align: right;
    background-color: rgb(90, 90, 90);
    color: rgb(232, 232, 232);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3px;
}

.btn {
    padding: 20px;
    font-size: 20px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 50px;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.618);
}

.btn:active {
    transform: scale(0.95);
    box-shadow: 0 0 15px rgba(81, 0, 0, 0.79);
}

.equal {
    grid-column: span 2;
    background-color: rgb(255, 57, 57);
}

.operator {
    background-color: rgb(255, 176, 57);
}
